.todoapp__container {
  border-radius: 5px;
  padding: 0;
  margin-bottom: 2rem;
}

.todo__container__footer {
  border-top: 1px solid $light-grey-border;
  padding: 1rem 1rem 0 1rem;
}

.todo__container__header {
  border-bottom: 1px solid $light-grey-border;
  padding: 1rem;

  label {
    cursor: pointer;
    font-weight: normal;
    padding-top: .5rem;
  }

  > :last-child {
    align-items: center;
    display: flex;
  }
}
